ipyvolume==0.5.2
ipywebrtc==0.5.0
Jinja2==2.11.2
jupyter==1.0.0
jupyter-core==4.6.3
jupyter-server==1.2.2
jupyterlab==2.2.6
jupyterlab-widgets==1.0.0
matplotlib==3.3.2
seaborn==0.11.0
pythreejs==2.3.0
folium==0.12.1
ipywidgets==7.5.1
sklearn==0.0
statsmodels==0.12.0
tables==3.6.1
tabulate==0.8.9
tornado==6.1
voila==0.2.6
voila-gridstack==0.1.0
openpyxl==3.0.6